# While
 while loop we can execute a set of statements as long as a condition is true.
continue vs. break...........
It's important to distinguish continue from break. The continue statement skips the current iteration and moves to the next, while the break statement terminates the entire loop prematurely.

In [1]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# BREAK

In [5]:
i = 1
while i < 6:
    print(i)
    if i == 3:
      break
    i = i+1

1
2
3

# CONTINUE

In [9]:
i=1
while i < 6:
    i=i+1
    if i == 3:
        continue
    print(i)

2
4
5
6

# The ELSE Statement

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# FOR Loop

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

# Looping through a String

In [13]:
for x in "Banana":
   print(x)

B
a
n
a
n
a

# Break Statement

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

# Continue Statement

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# Range() function

In [18]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [20]:
# in 2 parameter include from 1st one to last excluding last value
for x in range(2, 6):
  print(x)

2
3
4
5

In [23]:
# 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):
for x in range(2, 30, 3):
   print(x)

2
5
8
11
14
17
20
23
26
29

# Else in FOR Loop

In [25]:
for x in range(6):
   print(x)
else:
   print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [27]:
for x in range(6): 
    if x == 3:
        break
        print(x)
    else:
        print("Finally finished!")

Finally finished!
Finally finished!
Finally finished!

# Nested Loops

In [29]:
fruits = ["apple", "banana", "cherry"]
color =["red","yellow","black"]
for x in fruits:
  for y in color:
    print(x,y)

apple red
apple yellow
apple black
banana red
banana yellow
banana black
cherry red
cherry yellow
cherry black