In [1]:
import pandas as pd
print(pd.__version__)

2.3.2

In [5]:
data={
    'student':["Amit","Sunju","Devwil"],
    'rank':[1,2,3],
    'marks':[23,54,76]
}
res=pd.DataFrame(data)
print("Student data are as follows:\n\n",res)

Student data are as follows:

   student  rank  marks
0    Amit     1     23
1   Sunju     2     54
2  Devwil     3     76