# Set how to create a List, and set() constructor

In [3]:
thisSet={"apple","cherry","guava"}
print(thisSet)

{'apple', 'guava', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
thisSet = set(("apple","Banana","Grapes"))
print(thisSet)

{'Banana', 'apple', 'Grapes'}

# Access Items

In [9]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
   print(x)

banana
apple
cherry

In [11]:
thisset = {"Kit kat","Dairy Milk","5-star","Perk"}
print("Kit kat" in thisset)

True

# Add Items

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'apple', 'mango', 'cherry', 'banana', 'pineapple'}

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'banana', 'cherry', 'kiwi'}

# Remove Items

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [19]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Loops in Set

In [20]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)
#use | operator instaed of Union

{1, 2, 3, 'apple', 'Elena', 'John', 'b', 'a', 'cherry', 'bananas', 'c'}

In [25]:
#join sets and tuples

In [27]:
x = {"a", "b", "c"}
y = (1, 2, 3) 
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [28]:
#intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)
# use & operator instead of Intersection

{'apple'}

In [29]:
# but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [31]:
# difference is used to pick only different data from set 2 or another set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)
# use - operator instead of difference

{'banana', 'cherry'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)
#use the ^ operator instead of the symmetric_difference()

{'microsoft', 'google', 'banana', 'cherry'}

# Python FROZENSET

In [35]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>