# Creating tuple

In [3]:
thisTuple=("apple","mango","banana")
print(thisTuple)

('apple', 'mango', 'banana')

# Length of a tuple

In [4]:
thisTuple=("apple","mango","banana")
print(len(thisTuple))

3

# Adding only one item in tuple

In [5]:
thisTuple=("apple",)
print(thisTuple)

('apple',)

In [7]:
thisTuple=("Tiger", 67.9,True)
print(thisTuple)

('Tiger', 67.9, True)

# Access in Tuple

In [9]:
thisTuple=("apple","cherry","mango")
print(thisTuple[1])

cherry

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [12]:
thistuple = ("apple", "banana", "cherry","orange", "kiwi", "melon", "mango")
print(thistuple[3:5])

('orange', 'kiwi')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:])

('orange', 'kiwi', 'melon', 'mango')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "apple" in thistuple:
    print("Yes! this value is present")

Yes! this value is present

# Update Tuple

# Change tuple values by converting first into list then add value to tuple

In [18]:
x=("apple","banana","kiwi","Muskmelon")
y=list(x)
y[0]="Orange"
z=tuple(y)
print(z)

('Orange', 'banana', 'kiwi', 'Muskmelon')

# Adding tuple to a tuple

In [22]:
x=("apple","banana","kiwi","Muskmelon")
y=("Orange",)
x=x+y
print(x)

('apple', 'banana', 'kiwi', 'Muskmelon', 'Orange')

# Remove Items

In [27]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [29]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

# Unpacking a tuple OR destructuring a data

# packing a tuple

fruits = ("apple", "banana", "cherry")

In [31]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

# Using asterick *

In [32]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [33]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop through Tuples*

In [34]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [35]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [36]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Join through Tuples*

In [37]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [38]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [39]:
# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found